@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: url ("../fonts/NunitoSans-Regular.ttf") format("ttf");
    font-display: swap;
}

@font-face {
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 400;
    src: url ("./fonts/NunitoSans-Italic.ttf") format("ttf");
    font-display: swap;
}



body {
    margin: 0 auto;
}


body * {
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}


.first-checkbox{
    display: flex;
    justify-content: start;
    align-items: center;
}




.checkbox{
    display: none;
}
.fake{
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    border: 1px;
}
  .fake::before{
    content:"\2714";
    opacity: 0;
    transition: .2s;
}
.checkbox:checked + .fake::before{
    opacity: 1;
}

@media screen and (max-width: 1069px) {
    nav{
        display: none;
    }
    
}



h3 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    
}


.header-content{
    max-width: 1438px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .header-content{
        
    }
    nav{
        display: none;
    }
}


.header {
    background: #131313;
}

.logo {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    margin-left: 89px;
}
@media screen and (max-width: 768px) {
    .logo{
        margin-left: 18px;
    }
}


.header-navigation {
    list-style:none;
    display: flex;    
}

.header-navigation li{
    margin-right: 47px;
}

.header-navigation a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.header-navigation a:hover {
    color: #E3B873;
    cursor: pointer;
}

.number-call {
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

@media screen and (max-width: 1069px) {
    .number-call  {
        color: #FFFFFF;
        margin-right: 18px;
    }
    .button-header{
        display: none;
    }
}


.button-header {
    font-family: 'Nunito Sans';
    font-style: italic;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    color: white;
    outline: 0;
    border: 0;
    border-style: none;
    text-transform: uppercase;
    padding: 13px 33px;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 707px;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .hero  {
    height: 476px;
    }
}

.hero-overlay{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.7);
    z-index: 0;
}

.hero-conteiner{
    padding: 194px 627px 0px 134px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    max-width: 1438px;
}

@media screen and (max-width: 768px) {
    .hero-conteiner {
    padding: 85px 18px 41px 18px;
    height: 60px;
    width: 339px;
    }
}

.hero-title-text {



}

.title{
    margin: 0;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 490px;
    height: 105px;
}


@media screen and (max-width:  768px) {
    .title  {
        font-size: 23px;
        line-height: 31px;
        width: 339px;
        height:60px;
    }

    .hero-title-button{
        margin-right: 18px;
        margin-top: 32px;
    }
}


.title span {
    color:#E3B873;
}

.description-sale{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    height: 89px;
    width: 504px;

}
@media screen and (max-width:  768px) {
   
.description-sale{
    font-size: 14px;
    line-height: 19px;
    height: 94px;
    width: 339px;
}
}





.calculate{ 
    float: left;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding-top: 19px;
    padding-bottom: 19px;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    cursor: pointer;    
    margin-right: 20px;
    margin-top: 19px;    
    height: 51px;
    width: 207px;

}
.calculate:hover{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    
    border-radius: 2px;
}


@media screen and (max-width: 768px) {
    .calculate {
        width: 100%;
    }
}






.project {
    background-color: #131313;
    height: 1074px;
    color:#FFFFFF;
    
}
@media screen and (max-width: 768px) {
    .project {
        height: 1500px;
    }
}


.projects {
    display: block;
}


.project-conteiner{
    max-width: 1438px;
    margin: 0 auto;
    padding: 107px 134px 414px 134px;   
    display: flex;
}


@media screen and (max-width: 768px) {
    .project-conteiner {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 36px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }
}


.project-title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-top: 69px;
    height: 66px;
    width: 253px;
}


@media screen and (max-width: 768px) {
    .project-title {
        text-align: center;
        margin-top: 0px;
    }
}




.parametr{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    height: 86px;
    width: 442px;
}
@media screen and (max-width: 768px) {
    .parametr {
    height: 86px;
    width:311px;
    font-size: 11px;
    line-height: 158.48%;   
    }
}




.categ{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 161px;
}

.project-colum h3{
    text-align: start;
}


.project-colum2 h3{
    flex-direction: column;
    text-align: start;
}

.categ2{
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
}

.category{
    display: flex;
}


.category h3{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

@media screen and (max-width: 768px) {
    .category h3{
    font-size: 14px;
    line-height: 19px;
    text-align:start ;
    }
}


.category p{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .category p{
    font-size: 11px;
    line-height: 15px;
    
}
}






.project-switch {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: relative;
    top: 10px; 
    margin-top: 50px;
}
@media screen and (max-width: 768px) {
    .project-switch{
        display: none;
}
}

.project-switch-item {
    display: flex;
    background: #FFFFFF;
    border-radius: 30px;
    height: 9px;
    margin-left: 4px;
    width: 9px;

}

.project-switch-item::after {
    display: flex;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    height: 5px;
    margin-left: 4px;
    width: 5px;
}


.project-link ul{
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 45px;
    padding-left: 0px;
    list-style-type: none;

}



.project-link a{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    list-style-type: none;
    text-decoration: none;
}

.project-link a:hover {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
    text-decoration: none;
    list-style-type: none;
    border-bottom: 1px solid #E3B873;
}



@media screen and (max-width: 768px) {
    .project-link {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .project-photo img{
    margin-top: 36px;
    height: 241px;
    width: 340px;
}
}

.control{
    margin-top: -360px;
    z-index: 1;
    height: 950px;
    position:relative;
}
@media screen and (max-width: 768px) {
    .control {
        margin-top: -800px;
        height: 710px;
    }
}



.control-conteiner {
    max-width: 1438px;
    margin: 0 auto;  
    display: block; 
}

.control-title{
    color:#fff
}

.control-head-icon{
    display:flex;
    justify-content:center;
    align-items:center;
}

.camera-icon{
    margin: 9px;
}

.line-head{
    align-items: center;
    background: #E3B873;
    border-radius: 30px;
    height: 1.54px ;
    width: 32px;
}


.player{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.buttom-play {
    position: absolute;
    margin: 174px 364px;
    height: 85px;
    width: 85px;

}

.video-play {
    filter: brightness(20%)
}

@media screen and (max-width: 768px) {
    .player{       height: 207px;
        width: 340px;
       margin:0 auto;
    }
}

@media screen and (max-width: 768px) {
    .video-play{
        height: 207px;
        width: 340px;
    }
}
@media screen and (max-width: 768px) {
    .buttom-play{
       height: 37px;
       width: 37px;
       margin: 85px 151px;
    }
}



.line-body {
    display: flex;
    align-items: center;
    background: #E3B873;
    border-radius: 30px;
    width: 55px;
    height: 1.54px;
    margin: 62px auto 35px;
}

.control-text-body{
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    font-style: normal;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 681px;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .control-text-body{
        font-size: 11px;
        line-height: 19px;
        margin:21px auto;
        height: 106.95px;
        width: 340px;
        color: #FFFFFF;
    }
}




.form-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 91px;
}

@media screen and (max-width: 768px) {
    .form-feedback {
       flex-direction: column;
           margin: 0 auto;
    }
}






.form-feedback-up {
    display: flex;
}
@media screen and (max-width: 768px) {
    .form-feedback-up {
       flex-direction: column;
    }
}


.form-feedback input{
    display: block;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    background-color: transparent;
    color: inherit;
    outline: none;    
    margin-right: 49px;
    width: 231px;
}

@media screen and (max-width: 768px) {
    .form-feedback input {
    font-size: 14px;
    line-height: 19px;
    width: 340px;
    margin-bottom: 20px;
    }
    .form-feedback input::placeholder{
        color: #FFFFFF;
    }

    .form-feedback label{
    font-size: 13px;
    line-height: 21px;
    color: #fff;
    }
}



.text-form-control{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
    
}




.form-feedback button {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border: 0px;
    padding: 20px 75px 4px 76px;
}

@media screen and (max-width: 768px) {
    .form-feedback button{
        width: 340px;
        margin-left: 0;
    }
    }


    

@media screen and (max-width: 768px) {
.form-feedback span {
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 21px;
    }
}


.form-feedback-but-check {
    display: flex;
    justify-content: center;
    margin-top: 14px;
}

.form-feedback-but-check input{
    display: none;
}


@media screen and (max-width: 768px) {
    .form-feedback-but-check{ 
        flex-direction: 
        column; }

    #feedback-button { 
        margin-top: 99px;
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        }
    #feedback-checkbox { 
        justify-content: start; 
        margin-top: -290px;
    }
}


.repair-conteiner{
    max-width: 1438px;
    height: 1600px;
    margin: 0 auto;  
    display: block; 
}

.repair-head-line{
    height:1.54px;
    width: 32px;
    background: #E3B873;
    border-radius: 30px;
}
.repair-head-title-txt {
    margin-top: 147px;
}

.repair-head-icon{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 31px;
}

.types-of-repairs{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}




@media screen and (max-width: 768px) {
    .types-of-repairs{
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .repair-type-back img{
        height: 365px;
        width: 340px;
    }

    }


.repair-redecorating-type {
    display: block;
}



.repair-type-before{
    margin-top: -150px;
    margin-left: 31px;
    background-color: #FFFFFF;
    height:286px;
    width: 330px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
}


@media screen and (max-width: 768px) {
    .repair-type-before{
        margin-left: -1px;
        margin-top: -164px;
        height:241px;
        width: 270px;
        margin-bottom: 100px;
    }
    }

.type-repair-title{
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    padding-top: 25px;
    padding-left: 31px;

}

@media screen and (max-width: 768px) {
    .type-repair-title{
    font-size: 15px;
    line-height: 21px;
    padding-top: 21px;
    margin-bottom: 10px;

    }
}

.repair-type-description{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

@media screen and (max-width: 768px) {
    .repair-type-description{
        line-height: 22px;
    }
}



.about-prices{
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    display: inline-block; 
    color: #fff; 
    height: 54px ;
    width:228px;
    padding: 17px 21px;
    text-decoration: none;
    margin-top: -5px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}

@media screen and (max-width: 768px) {
    .about-prices{
    font-size: 15px;
    line-height: 21px;
    margin-top: -10px;
    }
}
.departure-specialist{
    display: flex;
    margin-top: 152px;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .departure-specialist{
    display: none;
    }
}



.departure-step {
    display:flex;
    background-image: url('../images/feedback-fon.jpg');
    background-repeat:space ;
}

.departure-point{
    display: flex;
    align-items: center;
}
.departure-step-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 117px 0px 54px 249px;
    height: 473px;
    width: 374px;
}



.departure-specialist-points{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E3B873;
    border: 8px solid #fff;
    box-shadow: 0px 5px 15px rgb(227 184 115 / 15%);
    border-radius: 30px;
    height: 41px;
    width: 41px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    padding: 9px;
    margin-right: 5px;
}


.departure-specialist-steps{ 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636; 

}

.feedback-form-measuring { 
    height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}


.feedback-title-form{ 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin: 28px 105px 39px 104px;
}

.feedback-form-measuring p{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 49px;
}

.input-feedback{
    display: flex;
    flex-direction: column;
    height: 244px;
    justify-content: space-between;
}

.input-feedback input{
    border: 0px;
    background-color: rgba(0, 0, 0, 0.0);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;  
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-left: 49px;
    margin-right: 49px;
    width: 408px;

}

.input-feedback input::placeholder{
    color: #FFFFFF;  
}


.feedback-checkbox {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF; 
    margin-left: 49px;
    margin-top: 17px;
}

.feedback-checkbox input{
 display: none;

}
.feedback-form-measuring-subit{ 

}

.feedback-submit{ 
    display: flex;
    justify-content: end;
    margin-top: 39px;
    margin-right: 46px;
}



.discount {
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    width: 400px;
    height:  18px;
    margin-top: 120px;
}


.repair-styles{
    background-image: url('../images/fon-styles-repair.jpg');
    background-size: cover;
    height: 864px;
    position: relative;
    margin-top: 242px;
}
@media screen and (max-width: 768px) {
    .repair-styles{
    background-image:none;
    height: 0px;
    margin-top: 0p;
    }
}

@media screen and (max-width: 768px) {
    .repair-style{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
}



.repair-styles-conteiner {
    max-width: 1438px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.repair-style{
    display: flex;
}

.repair-styles-overlay{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.7);
    z-index: 0;
}
@media screen and (max-width: 768px) {
    .repair-styles-overlay{
    display: none;
    }
}



.repair-styles-type-block {
    padding-left: 99px;
}
@media screen and (max-width: 768px) {
    .repair-styles-type-block{
    padding-left: 0px;
    }
}




.repair-styles-type-title{  
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    width: 411px;
    height: 66px;
    margin-top: 124px;  
    
}

@media screen and (max-width: 768px) {

    .repair-styles-type-title{
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        height: 66px;
        margin-top: 35px;  
    }
}



.repair-styles-type-view{ 
}


@media screen and (max-width: 768px) {
    .repair-styles-type-view{
    display: none;
    }
}






.repair-styles-type-view ul{
    padding: 0px;
}

.repair-styles-type-view li{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
    list-style-type: none;    
    text-decoration: none; 
}

.repair-styles-type-view li > a {
    display: block;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    text-decoration: none;
    color: #FFFFFF;
}

.repair-styles-type-view a:hover{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.example-of-works{
    display: flex;
    justify-content: space-between;
  
}


.example-of-works img{
    max-width: none;
}


@media screen and (max-width: 1191px)  {
    .repair-styles{
    display: none;
}
}

@media screen and (max-width: 1191px)  {
    .clients{
        margin-top: 1240px;
}
}


@media screen and (max-width: 783px)  {
    .clients{
        margin-top: 1840px;
}
}
@media screen and (max-width: 1348px) {
    .example-of-works-two{
    display: none;
    }
}

@media screen and (max-width: 768px) {
    .example-of-works-two{
    display: none;
    }

    .example-of-works-revier-one{
    display: none;
    }

    .example-of-works-revier-two{
        display: none;
    }

    .example-of-works-mobile{
        display: flex;
        position: relative;

    }
    .example-of-works-revier-one-mobile{
        height: 242px;
        width: 340px;
    }
    .back-button{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 36px;
        width:36px;
        margin-top: 103px;
        margin-left: 14px;
    }
    .forward-button{
        position: absolute;
        height: 36px;
        width:36px;
        display: flex;
        margin-top: 103px;
        margin-left: 291px;
    }
}



@media screen and (min-width: 768px) {
    .example-of-works-mobile{
        display: none;
    }
}



.example-of-works-one{
    margin-top: -41px;
    margin-left: 77px;
}

@media screen and (max-width: 768px) {
    .example-of-works-one{
        margin-top: 0px;
        margin-left: 0px;
    }
}

.example-of-works-one img{
    margin-bottom: 39px;
    margin-right: 43px;
    
}

.example-of-works-two {
    margin-top: -112px;
}


.example-of-works-two img{
    margin-bottom: 37px;
}



@media screen and (max-width: 768px) {
    .clients{
        display: none;
    }
}



.clients-conteiner{
    max-width: 1438px;
    margin: 0 auto;  
    display: block; 
    margin-top: 110px;
}



.line-clients{
	margin: 20px 0;
	padding: 0;
	height: 1px;
	border: none;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}

.clients-head-icon{
    display:flex;
    justify-content:center;
    align-items:center;
}
.clients-head-line{
    height:1.54px;
    width: 32px;
    background: #E3B873;
    border-radius: 30px;
}

.clients-recommend{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #363636;
    height: 57px;
    width: 476px;
    margin: 0 auto;
}


.client {
    width: 376px;
    height: 428px;
}


.avatar{ 
    border-radius: 76px;

}

.client label{ 
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.client p{ 
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
}

.parameters-client-repair{
    display: flex;
    justify-content: space-around;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgb(227 184 115 / 50%);
    height: 54px;
    width: 293px;
    align-items: center;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;

}
.separator-client-reviews{
    height:54px;
    width:1.3px;
    background: #fff;
}

.cleints-reviews{
    display: flex;
    justify-content: space-around;
    margin-top: 31px;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .questions-feedback{
        background-image: none;
        background-color: #181818;
        height: auto;
    }
}
@media screen and (max-width: 768px) {
    .questions-overlay{
        display: none;
    }
}




.questions-feedback-conteiner{
    max-width: 1438px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.questions-overlay{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0,0,0,0.85);
    z-index: 0;
}


.questions-feedback{
    background-image: url('../images/questions-feedback-fon.jpg');
    background-size: cover;
    height: 953px;
    position: relative;
    margin-top: 242px;
    display: flex;
}
@media screen and (max-width: 768px) {
    .questions-feedback{
        background-image:none;
        height: 100%;
    }
}



.questions-feedback-form {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    margin-top: -222px;
    background: #181818;
    height: 445px;
}

@media screen and (max-width: 768px) {
    .questions-feedback-form{
        margin-top:200px;
    }
}





.questions-feedback-title{
    display: block;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 34px;
    margin-bottom: 45px;
}



.questions-feedback-n-p {
    display: flex;
}

@media screen and (max-width: 768px) {
    .questions-feedback-n-p{
        display: block;
    }
}


.questions-feedback-n-p label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.questions-feedback-n-p input{
    display: block;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 48px;
    margin-right: 58px;
    width: 231px;
}

@media screen and (max-width: 768px) {
    .questions-feedback-n-p input{
        width: 340px;
        margin-bottom: 63px;
    }
}

@media screen and (max-width: 768px) {
    .questions-feedback-n-p input::placeholder{
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
    }
}


.questions-feedback-q{
    display: flex;
}

@media screen and (max-width: 768px) {
    .questions-feedback-q{
        display: block;
    }
}

.questions-feedback-q label{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.questions-feedback-q input{
    display: block;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 48px;
    width: 516px;
}

@media screen and (max-width: 768px) {
    .questions-feedback-q input{
        width: 340px;
        margin-bottom: 21px;
    }
}


@media screen and (max-width: 768px) {
    .questions-feedback-q input::placeholder{
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
        color: #FFFFFF;
    }
}


.questions-feedback-sumbit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-feedback-sumbit label{
    display: block;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
    .questions-feedback-sumbit label{
    }
}



.questions-sumbit-button{
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);  
    width: 200px;
    height: 51px;
    border: 0px;
}

@media screen and (max-width: 768px) {
    .questions-sumbit-button{
        margin-bottom: 129px;
    }
}






.questions-adress {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
    margin: 52px auto;
    height: 51px;
    width: 589px;
}
@media screen and (max-width: 768px) {
    .questions-adress {
        margin: 0 auto;
        width: 340px;
        margin-bottom: 23px;
    }
}

.questions-icon{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px;
    border-radius: 50%; 
    background-color:#E3B873;
    margin-left: 15px;
}

@media screen and (max-width: 768px) {
    .questions-icon{ 
        height: 39px;
        width: 39px;
        margin-left: 20px;
        margin-bottom: 23px;
    }
}


.questions-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
    margin-bottom: 51px;
}

.questions-maps{
    display: flex;
    align-items: center;
    justify-content: center;
}




@media screen and (max-width: 768px) {
    .questions-maps img{ 
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 768px) {
    .questions-maps-pc{ 
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .questions-maps-mobile{ 
        display: none;
    }
}




#adress { order: 1; }
#questions-contact-icon { order: 2; }
#maps { order: 3; }

@media screen and (max-width: 768px) {
    .questions-feedback-conteiner { display: flex; flex-direction: column; }
    #adress { order: 2; }
    #questions-contact-icon { order: 3; }
    #maps { order: 1; }
}




.footer {
    background: #131313;

}

.footer-content{
    max-width: 1438px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.logo-footer {
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
}

.footer-navigation {
    list-style:none;
    display: flex;
}

.footer-navigation li{
    margin-right: 47px;
}

.footer-navigation a{
    list-style-type: none;
    text-decoration: none;
    color: white;
}
.footer-navigation a:hover {
    color: #E3B873;
    cursor: pointer;
}

.number-call {
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.button-footer {
    font-family: 'Nunito Sans';
    font-style: italic;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    color: white;
    outline: 0;
    border: 0;
    border-style: none;
    text-transform: uppercase;
    padding: 13px 33px;
}

@media screen and (max-width: 768px) {
    .button-footer { 
        display: none;
}
}
